# fixes for broken pip packages:
# pip version of indic-numtowords is broken, need to manually install. required downstream of nemo-toolkit[asr]
indic-numtowords @ git+https://github.com/AI4Bharat/indic-numtowords.git
# nemo-toolkit # broken by default, install directly from specific branch on the repo
# @todo in the future, when the 2.4.x branch moves to main, update the requirements.txt to use main instead (main is on 2.3.2 @ 2025-07-21)
nemo-toolkit @ git+https://github.com/NVIDIA/NeMo.git@v2.4.0rc2

# pip requirements #

# required to install omegaconf as a dependency of batchalign, but for some reason they dont have it in their requirements list
omegaconf

batchalign
batchalign[speaker]

ffmpeg-python==0.2.0

# nemo-toolkit[asr] has requirements that fail to install automatically, so we manually install the broken ones in the # fixes section
nemo-toolkit
nemo-toolkit[asr]

#### dont install torch, torchvision, and torchaudio by default
# torch
# torchvision
# torchaudio
