batchalign
ffmpeg-python==0.2.0
huggingface-hub
MarkupSafe
matplotlib
matplotlib-inline
multiprocess
narwhals
omegaconf
openai-whisper
pandas
pillow
regex
requests
sacremoses
safetensors
scikit-learn
scipy
texterrors
tqdm
transformers
urllib3
#### dont install torch, torchvision, and torchaudio by default
# torch
# torchvision
# torchaudio
# nemo-toolkit
#### if we fail on nemo-toolkit (I've seen this happen for windowa) comment the line above and uncomment the line below (line starting with # is a commented line)
nemo-toolkit @ git+https://github.com/NVIDIA/NeMo.git@main
